[Unit]
Description=USM Background Daemon
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
StartLimitBurst=5
StartLimitIntervalSec=60

[Service]
Type=simple
ExecStart=%h/.config/usm/usm-core.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
